/node_modules
/public/hot
/public/cdn
/storage/app/cdn/*
/storage/media-library
/storage/*.key
/vendor
ــ
.idea
.styleci.yml
.editorconfig
composer.lock
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
